:root{
    --text-color: #eeeff1;
    --link-color: #4a76ee;
    --background-color: #000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

 body{
    --text-color: #eeeff1;
    --link-color: #4a76ee;
    --background-color: #000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
 }

 body{
    font-family: "Poppins" , sans-serif;
    background-color: var(--background-color);
 }

 a{
   color: var(--link-color);
   text-decoration: none;
 } 
 
 /* NAVBAR */
 nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 , 50px;
    height: 80px;
 }

 nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
 }

  nav .right a{
    color: var(--text-color);
    margin: 0 10px;
 }

.email-highlight {
    background-color: #4a76ee; /* Bright highlight */
    padding: 8px 15px;
    border-radius: 8px;
    color: #fff !important;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 0 10px rgba(74, 118, 238, 0.5);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.email-highlight:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(74, 118, 238, 0.7);
}
